body {
    min-height: 100vh;
}

.construction {
    text-align: center;
    font-size: 36px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}